@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.app{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;

}

.weatherbg{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.heading{
    color: black;
    margin-top: 40px;
    font-weight: 700;
}

.search{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
button{
    color: white;
    width: 100%;
    height: 30px;
    background-color: rgb(44, 75, 161);
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.search input[type="text"]{
    width: 100%;
    height: 30px;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    outline: none;
}

.bottomcontainer{
    display: flex;
    height: 400px;
    width: 500px;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    margin-left: 500px;
    border-radius: 10px;
    margin-top: 50px;

}

.resultbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}  

.weathericon{
    width: 100px;
    height: 100px;
    
}

.city{
    font-size: 35px;
}

.temp{
    font-size: 55px;
    font-weight: 700;
}